.main_content {
    display: flex;
    width: 100%;
}

.main_groups {
    width: calc(100% - 20px);
    margin: 10px 10px 0px 10px;
}

.main_advertising {
    width: 400px;
    padding: 10px 10px 10px 0px;
}

.main_advertising div {
    padding-bottom: 10px;
}

@media screen and (max-width: 1024px) {
    .main_advertising {
        display: none !important;
    }
}